$primary-back: rgba(255, 255, 255, 1);
$secondary-back: rgba(245, 244, 250, 1);
$footer-back: rgba(47, 48, 58, 1);
$accent: rgba(33, 150, 243, 1);
$white-text: rgba(255, 255, 255, 1);
$title-text: rgba(33, 33, 33, 1);
$grey-text: rgba(117, 117, 117, 1);
$footer-contacts: rgba(255, 255, 255, 0.6);
$header-border: rgba(236, 236, 236, 1);
