@media screen and (min-width: 1200px) {
  // header
  .page__header {
    border-bottom: 1px solid $header-border;
  }

  .page__nav {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .logo {
    margin-right: 93px;
    color: $title-text;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }

  .logo__text {
    color: $accent;
  }

  .nav__list {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__link--current {
    position: relative;
    color: $accent;
  }

  .nav__link--current::after {
    content: ' ';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    display: inline-block;
    background: #2196f3;
    border-radius: 2px;
  }

  .nav__item + .nav__item {
    margin-left: 50px;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #2196f3;
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .contacts__item {
    color: $grey-text;
  }

  .contacts__item + .contacts__item {
    margin-left: 30px;
  }

  .contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $grey-text;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__link:hover {
    color: $accent;
  }

  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  //   hero

  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    max-width: 1600px;

    background-color: $footer-back;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero__itle {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-text;
  }

  .hero__button {
    display: inline-flex;
    align-items: center;

    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;

    color: $white-text;

    background: $accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  // advant

  .advant {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advant__thumb {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: $secondary-back;
  }

  .advant__item + .advant__item {
    margin-left: 30px;
  }

  .advant__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
  }

  .advant__text {
    font-size: 14px;
    line-height: 1.714;
    color: $grey-text;
  }

  //   work

  .work {
    padding-top: 0;
    text-align: center;
  }

  .work__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;

    color: $title-text;
  }

  .work__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work__item + .work__item {
    margin-left: 30px;
  }

  .work__thumb {
    position: relative;
    width: 370px;
    height: 294px;
  }

  .work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: $white-text;
  }

  //   team

  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-color: $secondary-back;
  }

  .team__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: $title-text;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards__item + .cards__item {
    margin-left: 30px;
  }

  .cards__item {
    text-align: center;

    background-color: $primary-back;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team__thumb {
    width: 270px;
    height: 260px;
  }

  .cards__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    color: $title-text;
  }

  .cards__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.188;
    color: $grey-text;
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media__item + .media__item {
    margin-left: 10px;
  }

  .media__link {
    display: flex;
    justify-content: center;

    padding: 12px;

    border-radius: 50%;
    color: rgba(175, 177, 184, 1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent;
      color: $primary-back;
    }
  }

  .media__icon {
    fill: currentColor;
  }

  .team__position {
    padding: 30px 32px 30px 32px;
  }

  //   clients

  .clients {
    text-align: center;
  }

  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    color: $title-text;
  }

  .clients__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;

    color: rgba(175, 177, 184, 1);
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent;
      color: $accent;
    }
  }

  .clients__item + .clients__item {
    margin-left: 30px;
  }

  .clients__icon {
    fill: currentColor;
  }

  // footer

  .page__footer {
    background-color: $footer-back;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .nav__logo--end {
    display: inline-block;
    margin-bottom: 20px;

    color: $white-text;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }

  .address__item + .address__item {
    margin-top: 9px;
  }

  .address-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;

    color: $white-text;
  }

  .address-contacts {
    display: inline-block;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .join {
    margin-left: 70px;
  }

  .join__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;

    color: $white-text;
  }

  .join-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .join-media__item + .join-media__item {
    margin-left: 10px;
  }

  .join-media__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 12px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: $white-text;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent;
    }
  }

  .join-media__icon {
    fill: currentColor;
  }

  .sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 93px;
  }

  .sub__group {
    display: flex;
    align-items: center;
  }

  .sub__label {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;

    text-transform: uppercase;

    color: $white-text;
  }

  .sub__input {
    padding: 15px 16px;
    margin-right: 12px;

    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    background-color: transparent;

    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: $white-text;

    &::placeholder {
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;

      letter-spacing: inherit;

      color: inherit;
    }
  }

  .sub__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 10px 28px 10px 29px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: $white-text;
    background-color: $accent;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  .sub__icon {
    fill: currentColor;
    margin-left: 10px;
  }

  //   modal

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    padding: 40px;

    background-color: $primary-back;
    border-radius: 4px;
    text-align: center;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $primary-back;
    color: rgba(0, 0, 0, 1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__close:hover,
  .modal__close:focus {
    cursor: pointer;
    color: $accent;
  }

  .modal__icon {
    fill: currentColor;
  }

  .form {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    color: $title-text;
  }

  .form__field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    max-width: 448px;
  }

  .form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.167;
    text-align: left;
    color: $grey-text;
  }

  .form__group {
    position: relative;
  }

  .form__input {
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    width: 100%;

    font-family: inherit;
    font-size: inherit;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid $accent;
      outline: none;
    }
  }

  .form__icon {
    fill: rgba(33, 33, 33, 1);

    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__input:focus + .form__icon {
    fill: $accent;
  }

  .form__comment {
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    font-family: inherit;
    font-size: inherit;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid var(--accent);
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 1.143;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  .check__group {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 30px;
  }

  .check__label {
    font-size: 14px;
    line-height: 1.714;

    color: $grey-text;
  }

  .check__link {
    font-size: 14px;
    line-height: 1.714;
    text-decoration: underline;

    color: $accent;
  }

  .check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .check__icon {
    cursor: pointer;

    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;

    & use {
      display: none;
    }
  }

  .check__input:checked + .check__icon {
    border: none;
  }

  .check__input:checked + .check__icon use {
    display: block;
  }

  .submit {
    padding: 10px 55px 10px 56px;
    background: $accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: $white-text;
  }
}
